body {
  padding: 50px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

code {
  display: inline;
  padding: 6px;
  background: #FEE;
  color: red;
}

pre {
  background: #EEE;
  padding: 40px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a {
  color: #00B7FF;
}
